.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  height: 4rem;
  box-shadow: 0 10px 20px -7px rgb(160 44 219 / 7%);
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 700;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.logo span {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background-image: linear-gradient(to right, #68e4bc 0%, #4ad0d1 99%);
  box-shadow: 0 12px 12px -11px #0db4afb8;
}
@media only screen and (max-width: 600px) {
 .navbar{
   padding: 0 .75rem;
 }
}