.button {
  /* background-image: linear-gradient(to right, #68e4bc 0%, #4ad0d1 99%); */
  background-image: linear-gradient(to right, #8368e4 0%, #4a75d1 99%);
  box-shadow: 0 12px 12px -11px #8368e4;
  border-radius: 0.25rem;
  padding: 0.75rem 2rem;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  border: none;
  transition: all ease 0.4s !important;
}

.button:hover {
  /* background-image: linear-gradient(to right, #49c29c 0%, #3ebbbb 99%); */
  background-image: linear-gradient(to right, #7159c9 0%, #3c60ad 99%);
}
