.portal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to right,
    rgba(104, 228, 188, 0.9) 0%,
    rgba(74, 208, 209, 0.9) 99%
  );
  padding: 0 2rem 1rem 2rem;
  animation: fade-in 0.4s;
  overflow-y: auto;
}
.nav {
  height: 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.close {
  color: #ffffff;
  font-weight: bold;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 2rem;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (max-width: 600px) {
  .portal {
    padding: 1rem;
  }
}
